*{
    padding: 0;
    margin: 0;
    background-color: aqua;
    text-align: center;
}

body{
    border: solid;
    border-radius: 20px;
    width: 350px;
    margin: auto;
    margin-top: 250px;
}

button{
    width: 60px;
}

h2{
    padding: 10px;
}